<div class="pet-detail">

  <div *ngIf="selectedPet; else noPetSelected" class="pet-info">
    <div>
      <div class="title">
        <h1>{{selectedPet.name}}</h1>
      </div>
      <h2>{{selectedPet.species}}</h2>
    </div>
    <p class="price">{{selectedPet.price}}</p>
    <p  [class]="selectedPet.isAvailable ? 'available' : 'sold'">{{selectedPet.isAvailable ? 'Disponible' : 'Vendu'}}</p>
  </div>

</div>

<ng-template #noPetSelected>
  <div class="no-pet-selected">Merci de selectionner un animal</div>
</ng-template>

